<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    executionOrder="depends,defects"
    cacheResult="true"    
    bootstrap="vendor/autoload.php"
    colors="true"
    stopOnFailure="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">Tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">Tests/Feature</directory>
        </testsuite>
    </testsuites>
</phpunit>